<?xml version="1.0" encoding="UTF-8"?>
	<configuration>
		<system.web>
		    <httpRuntime enableVersionHeader="false" />
		</system.web>
		<system.webServer>
			<!--
      			add gzip to the server
    		-->
			<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
				<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
				<dynamicTypes>
					<add mimeType="text/*" enabled="true" />
					<add mimeType="message/*" enabled="true" />
					<add mimeType="application/javascript" enabled="true" />
					<add mimeType="*/*" enabled="false" />
				</dynamicTypes>
				<staticTypes>
					<add mimeType="text/*" enabled="true" />
					<add mimeType="message/*" enabled="true" />
					<add mimeType="application/javascript" enabled="true" />
					<add mimeType="image/svg+xml" enabled="true" />
					<add mimeType="image/x-icon" enabled="true" />
					<add mimeType="*/*" enabled="false" />
				</staticTypes>
			</httpCompression>
			<urlCompression doStaticCompression="true" doDynamicCompression="true" />

			
			<httpProtocol>
				<customHeaders>
					<!--
   						add basic security by hiding server type
   					-->
					<remove name="X-Powered-By" />
					<!--
						force IE to not use compatibility mode
					-->
					<add name="X-UA-Compatible" value="IE=edge,chrome=1" />
				</customHeaders>
			</httpProtocol>
			
			<rewrite>
				<rules>
					<clear />
					<!-- Example rewrite -->
<!--
					<rule name="Mapping of GO" enabled="true">
						<match url="^(fr|nl|en)([\w/-]+)(.cfm)?$" ignoreCase="true" />
						<action type="Rewrite" url="/go.cfm{URL}?path={URL}" />
					</rule>
-->
					<!-- Example reverse proxy -->
<!--
					<rule name="Reverse Proxy example" stopProcessing="true">
						<match url="example_proxy/(.*)" />
						<action type="Rewrite" url="https://www.walkingmen.com/{R:1}" logRewrittenUrl="true" />
					</rule>
-->
				</rules>
				<outboundRules>
					<!--
 						add basic security by hiding server type
   					-->
					<rule name="Remove server header">
						<match serverVariable="RESPONSE_SERVER" pattern=".+" />
						<action type="Rewrite" value="WalkingMen" />
					</rule>
				</outboundRules>
			</rewrite>
			
			<!--
 				add basic security by removing IIS default error pages
  			-->
			<httpErrors errorMode="DetailedLocalOnly">
				<remove statusCode="401" subStatusCode="-1" />
				<remove statusCode="403" subStatusCode="-1" />
				<remove statusCode="404" subStatusCode="-1" />
				<remove statusCode="405" subStatusCode="-1" />
				<remove statusCode="406" subStatusCode="-1" />
				<remove statusCode="412" subStatusCode="-1" />
				<remove statusCode="500" subStatusCode="-1" />
				<remove statusCode="501" subStatusCode="-1" />
				<remove statusCode="502" subStatusCode="-1" />
				<error statusCode="401" prefixLanguageFilePath="errors" path="401.htm" responseMode="File" />
				<error statusCode="403" prefixLanguageFilePath="errors" path="403.htm" responseMode="File" />
				<error statusCode="404" prefixLanguageFilePath="errors" path="404.htm" responseMode="File" />
				<error statusCode="405" prefixLanguageFilePath="errors" path="405.htm" responseMode="File" />
				<error statusCode="406" prefixLanguageFilePath="errors" path="406.htm" responseMode="File" />
				<error statusCode="412" prefixLanguageFilePath="errors" path="412.htm" responseMode="File" />
				<error statusCode="500" prefixLanguageFilePath="errors" path="500.htm" responseMode="File" />
				<error statusCode="501" prefixLanguageFilePath="errors" path="501.htm" responseMode="File" />
				<error statusCode="502" prefixLanguageFilePath="errors" path="502.htm" responseMode="File" />
			</httpErrors>

		</system.webServer>

		<!--
    		Disable script execution in files/dist directory and set caching
 		-->
		<location path="dist">
			<system.webServer>
				<handlers>
					<clear />
					<add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
				</handlers>
				<staticContent>
					<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
				</staticContent>
			</system.webServer>
		</location>

		<location path="files">
			<system.webServer>
				<handlers>
					<clear />
					<add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
				</handlers>
				<staticContent>
					<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
				</staticContent>
			</system.webServer>
		</location>
		
		<!--
 			Disable access completely to some folders
  		-->
		<location path="WEB-INF">
			<system.web>
				<authorization>
					<deny users="?" />
				</authorization>
			</system.web>
		</location>
		
		<location path="errors">
			<system.web>
				<authorization>
					<deny users="?" />
				</authorization>
			</system.web>
		</location>

		<location path="aspnet_client">
			<system.web>
				<authorization>
					<deny users="?" />
				</authorization>
			</system.web>
		</location>

		<location path="BIN">
			<system.web>
				<authorization>
					<deny users="?" />
				</authorization>
			</system.web>
		</location>

	</configuration>
